.wrapper{
  height: 50px;
  position: relative;
  top: 100px;
  left: 200px;
}

.btn{
  width: 300px;
  height: 50px;
  text-align: center;
}

.top{
  margin-bottom: 30px;
}

.middle{
  /* background-color: aqua; */
}

.parts{
  display: inline-block;
}

.part1{
  top: 0px;
  width: 200px;
  height: 210px;
  /* background-color: blue; */
}

.part2{

  width: 400px;
  /* background-color: red; */
}

.part3{
  width: 300px;
  /* background-color: green; */
}